{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="next">
                <h2>Upload image</h2>
                <form id="image-form" name="form" method="post" enctype="multipart/form-data" action="{{ path('images_create') }}">
                    <input type="file" name="files[]" id="images" multiple />
                    <button type="submit" id="btn">Upload Files!</button>
                </form>
            </div>
            <div id="image-container">
            </div>
            <div style="display:none;">
                <img id="spinner" width="200px" src="{{ asset('assets/images/spinner.gif') }}"/>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
    var uri = '{{ app.request.schemeAndHttpHost }}';

    function loadAllImages() {
        $.get(uri+'/api/images', function(images) {
            appendImages(images);
        });
    }

    function loadImage(id) {
        setTimeout($.get(uri+'/api/images/'+id, function(images, textStatus, xhr) {
            if (xhr.status == 200) {
                appendImages(images, id);
            } else {
                loadImage(id);
            }
        }), 1000);
    }

    function appendSpinner(id) {
        $('#image-container').append('<img id="'+id+'" width="200px" src="'+$('#spinner').attr('src')+'"/>');
    }

    function appendImages(images, id) {
        images.forEach(function(uri) {
            if (id != undefined) {
                $('#image-container img[id="'+id+'"]').replaceWith('<img width="200px" src="'+uri+'"/>');
            } else {
                $('#image-container').append('<img width="200px" src="'+uri+'"/>');
            }
        });
    }

    function submitImages() {
        var formData = new FormData($('#image-form')[0]);
        $.ajax({
            url: uri+'/api/images',
            type: 'POST',
            success: function(images) {
                images.forEach(function (id) {
                    appendSpinner(id);
                    loadImage(id);
                });
            },
            data: formData,
            //Options to tell jQuery not to process data or worry about content-type.
            cache: false,
            contentType: false,
            processData: false
        });
    }

    $(function() {
        //Load existing images
        loadAllImages();
        $('#image-form').on('submit', function(event) {
            submitImages();
            event.preventDefault();
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
